<p>&nbsp;

<table class="table">
  <thead>
    <tr>
      <h2>Search History</h2>
    </tr>
  </thead>
  <tbody>
    <% for @search in @searches %>
      <tr>
        <td><%= link_to @search.history, search_index_path(search: @search.history) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
